    {% extends "video/base.html" %}
    {% block content %}        
        {% for video in videos %}    
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ video.author }}</a>
                    <small class="text-muted">{{ video.date_posted }}</small>
                </div>
            <h2><a class="article-title" href="#">{{ video.title }}</a></h2>
            <p class="article-content">{{ video.content }}</p>
            </div>
        </article>
        {% endfor %}
    {% endblock content %}